.container {
  flex-basis: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
}
.link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}
.link:hover {
  color: #000;
}
