.modal {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}
.modal_open {
  display: grid;
}
.modal__dialog {
  height: 600px;
}
