.container {
  margin-bottom: 30px;
  display: flex;
}
.space {
  flex-basis: 260px;
  flex-shrink: 0;
  margin-right: 30px;
}
@media (max-width: 900px) {
  .space {
    display: none;
  }
  .container {
    justify-content: center;
  }
}
