.container {
  margin: 30px 0;
}

.formContainer {
  background-color: #fafafb;
  border: solid 1px var(--border-color2);
  min-height: 600px;
  max-width: 425px;
  border-radius: 24px;
  margin: 0 auto;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: #333;
  margin-bottom: 14px;
}
.fieldContainer {
  margin-bottom: 14px;
}
.formContainer :nth-child(7) {
  margin-bottom: 24px;
}
.input {
  background-color: #fff;
  border: solid 1px var(--border-color2);
  border-radius: 8px;
  height: 48px;
  padding: 12px 24px;
  width: 100%;
  font-size: 16px;
  color: #828282;
}
.input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #bdbdbd;
}
.input:focus {
  outline-color: #828282;
  outline-width: 1px;
}
.button {
  background-color: var(--primary);
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 14px;
}
.button:enabled {
  cursor: pointer;
}
.link {
  font-size: 14px;
  color: #828282;
  text-decoration: none;
  margin-top: auto;
  text-align: center;
  user-select: none;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.error {
  margin-top: 8px;
  color: var(--danger);
  font-weight: 400;
  font-size: 13px;
}
