.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}

.modalContent {
  margin: 5% 30%;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
}

.modalHeader {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid rgba(114, 114, 114, 0.423);
  padding-bottom: 20px;
}

.modalBody {
  padding: 5px;
}

.modalBody > form {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.inpModal {
  display: inline-block;
  width: 98%;
  margin: auto;
  margin-bottom: 5px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: rgb(225, 225, 225);
}

.modalFooter {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  border-top: 1px solid rgba(114, 114, 114, 0.423);
  padding-top: 20px;
}

.modalFooter > button {
  width: 48%;
  margin: auto;
  border: none;
  color: white;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.btnSend {
  background-color: #28a745;
}
.btnCancel {
  background-color: #dc3545;
}
.btnSend:hover {
  background-color: #2c683a;
}
.btnCancel:hover {
  background-color: #913b44;
}
