.container {
    display: flex;
    justify-content: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 175px;
    border: solid 1px var(--border-color2);
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
}

.formContainer label {
    font-size: 25px;
    font-weight: 500;
}

.formContainer input {
    width: 75%;
    height: 50px;
    padding-left: 15px;
}

.submitBtn {
    background-color: var(--primary);
    width: 50%;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.submitBtnDisabled {
    background-color: #777777;
    width: 50%;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: not-allowed;
}