.questionContainer form {
  width: 100%;
  height: 120px;
  background-color: #fafafb;
  display: flex;
  align-items: center;
  padding: 0 5%;
  border-radius: 15px;
}

.questionContainer button {
  background-color: #2f80ed; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 18px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.questionContainer button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.questionContainer textarea {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.questionContainer textarea:focus {
  outline: none !important;
  border: 1px solid #2f80ed;
  box-shadow: 0 0 10px #719ece;
}

.oldAnswersContainer {
  width: 100%;
  background-color: #fafafb;
  padding: 5px;
  border-radius: 15px;
  margin-top: 10px;
}

.question {
  margin: 0px 0px 20px 0px;
}
.answers {
  margin-bottom: 4px;
}

.answerText {
  margin: 0px 0px 0px 50px;
  color: #666666;
}

.answersContainer {
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 6px;
  margin-top: 6px;
}

.userQuestion {
  background-color: #cccccc;
  padding: 10px;
  margin: 0px 200px 20px 100px;
  border-radius: 10px;
}
.OtherUserQuestion {
  background-color: #f6f6f6;
  padding: 10px;
  margin: 20px 200px 8px 100px;
  border-radius: 10px;
}
.date {
  font-size: 13px;
  color: #666666;
}
