.container {
  /* text-align: center; */
  height: 48px;
  flex-basis: 40%;
  max-width: 500px;

  border-radius: 8px;
  position: relative;
}
.inputContainer {
  /* background: none;
  border: none; */
  width: 100%;
  height: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  padding: 16px;
  padding-left: 32px;
  background-color: transparent;
}

.inputContainer::placeholder {
  color: #828282;
  font-size: 12px;
  font-weight: 700;
}

.inputContainer:focus {
  outline-color: #828282;
  outline-width: 1px;
}

.btn {
  /* border-radius: 5px;
  font-size: 10px;
  height: 22px;
  background-color: rgb(81, 126, 224);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer; */
  height: 32px;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border-radius: 12px;
  width: 110px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.btn:hover {
  /* background-color: rgb(111, 142, 209);
  color: white; */
  cursor: pointer;
}
