.container {
    background: #ededed;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.cartListContainer {
    background: white;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    margin-top: 40px;
    border-radius: 15px;
}

.cartListContainer ul {
    width: 100%;
}

.purchaseDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.purchaseDetails > div > h2{
    padding-right: 10px;
}
.purchaseDetails > img{
    width: 10%;
}
.purchaseDetails > div{
    width: 40%;
}
.purchaseDetails > h3{
    width: 10%;
}

.cartProduct {
    border-bottom: 1px solid rgba(114, 114, 114, 0.423);
    border-collapse: collapse;
    margin-bottom: 1px;
    padding: 10px;
}

.cartProduct > li {
    display: grid;
    align-content: space-around;
    grid-template-rows: 3fr 1fr;
    align-items: center;
}

.imgProduct {
    width: 100px;
}

.quantityToBuyCss {
    display: flex;
    justify-content: space-around    
}
.quantityToBuyCss > div{
    border: 1px solid rgba(114, 114, 114, 0.423);
    border-radius: 5px;
}


.quantityToBuyCss > div > button{
    color: blue;
    margin: 0 !important;
    background: none;
    margin: 10px;
    width: 25px;
    height: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.quantityToBuyCss > div > input {
    text-align: center;
    border: none;
    width: 40px;
}

.bntDelete{
    margin-top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: blue;
}

.totalValue, .checkout{
    display: flex;
    height: 80px;
    padding: 10px;
    padding-right: 40px;
    justify-content: flex-end;
}
.totalValue > h1{
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 25px;
}
.checkout > button{
    background-color: #3483fa;
    color: white;
    border: none;
    border-radius: 5px;
    width: 15%;
    margin-top: auto;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.checkout > button > a{
    text-decoration: none;
    color: white;
}