.paginationContainer {
  box-sizing: border-box;
  float: right;
  height: 40px;
  width: 63%;
  margin-left: 37%;
}

.paginationContainer a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
.link {
}
.link:hover {
  color: rgb(179, 140, 105);
}
a:hover {
  /* color: rgb(179, 140, 105); */
}
