/* 
.paginationContainer {
  box-sizing: border-box;
  float: right;
  height: 40px;
  width: 63%;
  margin-left: 37%;
}

.paginationContainer a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
.link {
}
.link:hover {
  color: rgb(179, 140, 105);
}
a:hover {
  color: rgb(179, 140, 105); 
} */

/* Pagination2 */

.page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

.items-list {
  max-width: 90vw;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 600px) {
  .items-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--greyDark);
  cursor: pointer;
}
.item span {
  background: #ffffff;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
  border-radius: 0.6rem;
  padding: 2rem;
  font-size: 3rem;
  transition: all 0.3s ease;
}
.item:hover span {
  transform: scale(1.2);
  color: var(--secondary);
}
.item p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: var(--greyLight);
}

.page {
  display: flex;
  justify-content: center;
  width: 320px;
  align-items: center;
  height: 5rem;
  margin: 3rem;
  border-radius: 0.6rem;
  background: #ffffff;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}
.page__numbers,
.page__btn,
.page__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  font-size: 1.4rem;
  cursor: pointer;
  user-select: none;
}
.page__dots {
  width: 2.6rem;
  height: 2.6rem;
  color: var(--greyLight);
  cursor: initial;
}
.page__numbers {
  width: 2.6rem;
  height: 2.6rem;

  border-radius: 0.4rem;
}
.page__numbers:hover {
  color: var(--secondary);
}
.page__numbers.active {
  color: #ffffff;
  background: var(--secondary);
  font-weight: 600;
  border: 1px solid var(--secondary);
}
.page__btn {
  color: var(--greyLight);
  pointer-events: none;
}
.page__btn.active {
  color: var(--greyDark);
  pointer-events: initial;
}
.page__btn.active:hover {
  color: var(--secondary);
}

.page_button {
  width: 32px;
  height: 32px;
  color: var(--white);
  border: none;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_button:disabled {
  background-color: #777777;
}
.page_button:enabled {
  background-color: var(--primary);
  cursor: pointer;
}
