.container {
  flex-basis: calc(100% - 260px);
}
.ul {
  display: grid;
  gap: 30px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(200px, 245px));
}

.p {
  text-align: center;
}
