.ul {
  display: grid;
  grid-gap: 0 24px;
  justify-content: space-evenly;
  margin-left: 0px;
  grid-template-columns: repeat(3, 285px);
  margin-top: 2em;
}
.container {
  width: 100%;
}
.p {
  text-align: center;
}
